<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- MySQL hibernate credentials
	<property name="connection.url">jdbc:mysql://localhost/addressbook</property>
	<property name="connection.username">root</property>
	<property name="connection.password"></property>
	
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property> -->
	<!-- End MySQL hibernate credentials -->
	
	<!-- SQL Server hibernate credentials -->
	<property name="connection.url">jdbc:sqlserver://192.168.0.196:1433;databaseName=hib-test;selectMethod=cursor</property>
    <property name="connection.username">db_user</property>
    <property name="connection.password">s3cr3t</property>
    
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
	
	<!-- End SQL Server -->
	
	<property name="hibernate.bytecode.provider">cglib</property>
 	<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
</session-factory>
</hibernate-configuration>

<!-- 


        
        <property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=oco_track;selectMethod=cursor</property>
        <property name="connection.username">db_user</property>
        <property name="connection.password">s3cr3t</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
     	<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    	<property name="current_session_context_class">thread</property>
    	<property name="hibernate.connection.pool_size">20</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>		
		<property name="hibernate.bytecode.provider">cglib</property>
    	<property name="hibernate.show_sql">false</property>
    	<property name="hibernate.format_sql">false</property>
	</session-factory>
</hibernate-configuration>

 TODO - we need a config for a datasource too..

		c.setProperty("hibernate.connection.url", "jdbc:mysql://localhost/jpa_test");
		c.setProperty("hibernate.connection.username", "root");
		c.setProperty("hibernate.hbm2ddl.auto", "create");
		c.setProperty("hibernate.show_sql", "false");
		c.setProperty("hibernate.format_sql", "false");
		c.setProperty("hibernate.connection.driver_class", "com.mysql.jdbc.Driver");
		c.setProperty("hibernate.dialect", "org.hibernate.dialect.MySQL5Dialect");
		c.setProperty("hibernate.current_session_context_class", "thread");
		c.setProperty("hibernate.transaction.factory_class", "org.hibernate.transaction.JDBCTransactionFactory");
		c.setProperty("hibernate.connection.pool_size", "1");
		c.setProperty("cache.provider_class","org.hibernate.cache.NoCacheProvider");		
		c.setProperty("hibernate.bytecode.provider","cglib"); 

 -->

